@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baumans&display=swap");
:root {
  --main-color: #364fc7;
  --light-color: #f8f9fa;
  --dark-color: #212529;
  --grey-one: #e9ecef;
  --grey-two: #ced4da;
  --grey-three: #868e96;
}
*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  background: var(--light-color);
  color: var(--dark-color);
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 0.8rem;
  background: var(--grey-one);
}
body::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 10rem;
}
img {
  width: 100%;
}
header,
.app--container {
  padding: 20px 4rem;
  /* box-shadow: 0 1px 10px rgba(206, 212, 218, 0.486); */
  box-shadow: 0px 3px 7px 0px rgb(146 139 139 / 9%);
}
.app--container {
  min-height: calc(100vh - 74px - 128px);
}
/* nav */
nav {
  position: relative;
  padding: 1.5rem 0;
  color: var(--grey-three);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
.nav--link--rows {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}
.nav--link--col--1,
.nav--link--col--2 {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.nav--logo {
  font-family: "Baumans", cursive;
  font-size: 2.4rem;
  color: var(--main-color);
  font-weight: 600;
  letter-spacing: 1.5px;
}
.hamburger {
  cursor: pointer;
  display: none;
}
.burger {
  height: 3px;
  width: 45px;
  background: var(--grey-three);
  margin-top: 10px;
  border-radius: 1rem;
  transition: 0.4s;
}
.burger:first-child {
  margin-top: 0;
}
.burger:nth-child(2) {
  width: 38px;
  margin-left: auto;
}
.nav-dashbaord-icon,
.nav-category-chevron {
  height: 2rem;
  width: 2rem;
}
.nav-noify-icon {
  height: 2.5rem;
  width: 2.5rem;
  cursor: pointer;
}
.nav-search-icon {
  height: 2.4rem;
  width: 2.4rem;
}
.nav--search--form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  background: transparent;
  box-shadow: 0 0 0 1.5px rgba(134, 142, 150, 0.461);
  padding: 0.5rem 0.6rem;
  border-radius: 1rem;
}
.nav--search--form input[type="text"] {
  width: 100%;
  background: transparent;
  border: 0;
  outline: 0;
}
.nav--search--form input[type="submit"] {
  background: var(--main-color);
  color: var(--light-color);
  border: 0;
  outline: 0;
  border-radius: 0.8rem;
  padding: 0.5rem 0.8rem;
}
.nav--user--profile {
  height: 3rem;
  width: 3rem;
  cursor: pointer;
  border-radius: 50%;
  overflow: hidden;
}
.shopping--bag--icon {
  cursor: pointer;
  height: 2.2rem;
  width: 2.2rem;
  fill: var(--grey-three);
}
.cart--box {
  position: relative;
}
.item--numbers {
  position: absolute;
  top: -20%;
  right: -50%;
  background: rgb(227, 38, 38);
  color: var(--light-color);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0.15rem;
  height: 18px;
  width: 18px;
  font-size: 1rem;
  border-radius: 50%;
  z-index: 22;
}
/*  */
.app--container--row {
  display: grid;
  grid-template-columns: 250px 3.5fr;
  /* justify-items: center; */
  align-items: start;
  gap: 3rem;
}
/* category */
.category--tab {
  box-shadow: 0 0 0 1.5px rgba(134, 142, 150, 0.204);
  /* height: 100vh; */
  margin-bottom: 2rem;
  border-radius: 1rem;
  padding: 1rem 2rem;
}
.tab-category-chevron {
  rotate: 180deg;
  transition: 0.4s;
}
.all--categories {
  display: none;
}
.toggle--categories.all--categories {
  display: block;
}
.toggle--categories.tab-category-chevron {
  rotate: 0deg;
}
.loader--icon {
  width: 140px;
}
/* product rows */
.products--row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  gap: 4rem;
  min-height: 100vh;
}
.product--card {
  width: 28rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  box-shadow: 0 0 0 1.5px rgba(134, 142, 150, 0.182);
  border-radius: 1rem;
  /* overflow: hidden; */
  padding: 1.5rem 2.5rem;
}
.product--img {
  width: 100px;
}
.card--context {
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}
.product--rate--star {
  height: 18px;
  width: 18px;
  fill: rgb(232, 184, 40);
  stroke: none;
}
.add--cart--btn {
  border: 0;
  outline: 0;
  font-size: 1.4rem;
  color: var(--light-color);
  background: var(--main-color);
  border-radius: 1rem;
  padding: 0.8rem 1rem;
  transition: 0.4s;
}
.add--cart--btn:hover {
  background: var(--light-color);
  box-shadow: 0 0 0 1.5px #364fc7;
  color: var(--main-color);
}

/* footer */
.footer--container {
  background: #212529;
  padding: 4rem 1.5rem;
  color: var(--light-color);
}
.link--rows {
  display: flex;
  justify-content: space-around;
  gap: 2.5rem;
}
.link--rows a {
  color: var(--grey-three);
  transition: 0.4s;
}
.link--rows a:hover {
  color: var(--main-color);
}
.footer--icons {
  font-size: 2.4rem;
}
.footer--icons:nth-child(3) {
  background: radial-gradient(
    circle at 33% 100%,
    #fed373 4%,
    #f15245 30%,
    #d92e7f 62%,
    #9b36b7 85%,
    #515ecf
  );
  border-radius: 0.6rem;
}
@media screen and (max-width: 1135px) {
  .products--row {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 976px) {
  .app--container,
  header {
    padding: 40px 1rem;
  }
  .nav--link--rows {
    width: 75%;
    gap: 2rem;
  }
}
@media screen and (max-width: 876px) {
  .products--row {
    grid-template-columns: 1fr;
  }
  .hamburger {
    display: block;
  }
  /* nav styling for smaller devices */
  .nav--link--rows {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    background: var(--dark-color);
    color: var(--grey-one);
    top: 70px;
    right: -2000px;
    z-index: 999;
    transition: 0.4s;
    padding: 30px;
  }
  .nav--link--col--1 {
    flex-direction: column;
  }
}
.nav--toggle.nav--link--rows {
  right: 0;
}

.product--title{
  height: 50px;
  white-space: break-spaces;
  word-wrap: break-word;
  word-break: break-all;
}
.product--img{
  height: 100px;
}

@media  screen and (max-width : 800px) {
  .app--container--row{
    display: block;
  }
}